@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #070707;
}

.card {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  background-color: #111;
  color: #fff;
}
.card .search {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 15px;
}
.card .search input,
.card .search button {
  outline: none;
  border-radius: 6px;
  font-size: 1.5rem;
}
.card .search input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  color: #fff;
  padding: 10px;
  height: 50px;
}
.card .search input:focus {
  border-color: #fff;
}
.card .search button {
  background-color: #f7c347;
  font-weight: 700;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.card .search button:hover {
  background-color: #f5b316;
}

.movie {
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 30px;
  color: #fff;
  margin-top: 30px;
}
.movie__poster img {
  max-width: 250px;
}
.movie__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.movie__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movie__title h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
}
.movie__genre {
  font-size: 1.5rem;
}
.movie__genre span + span::before {
  content: "|";
  margin-right: 3px;
}
.movie__rating {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 15px;
}
.movie__rating h4 {
  color: #f7c347;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.movie__rating span {
  color: #c2c2c2;
  font-size: 1.5rem;
}
.movie__ratings {
  font-size: 1rem;
}
.movie__plot {
  font-size: 1.3rem;
  margin: 30px 0;
  max-width: 350px;
}
.movie__cast {
  list-style: none;
}
.movie__cast li {
  font-size: 1.5rem;
}
.movie__cast li:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .movie {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
@media (max-width: 428px) {
  .card .search {
    grid-template-columns: 8fr 4fr;
    gap: 10px;
  }
  .movie {
    margin-top: 20px;
  }
  .movie__poster img {
    max-width: unset;
    width: 100%;
  }
  .movie__genre {
    font-size: 1.3rem;
  }
  .movie__genre span {
    display: block;
  }
  .movie__genre span + span::before {
    display: none;
  }
}